{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Password Reset Password{% endblock title %} 
{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h4>Reset Password Complete</h4>
      <div>
        <iframe
          src="https://giphy.com/embed/KBxyo8FDKE33qnj3KB"
          width="300"
          height="300"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  {% endblock main-content %}
</div>
