{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Change Password{% endblock title %} 
{% block main-content %}

<section class="log">
  <div class="imgBx">
    <img src="{% static 'app/images/login.png' %}" />
  </div>
  <div class="contentBx">
    <div class="formBx">
      <h2>Reset Password</h2>
      <form method="POST" novalidate>
        {% csrf_token %} {% for fm in form %}
        <div class="form-group">
          {{fm.label_tag}} {{fm}}
          <small class="text-danger">{{fm.errors|striptags}}</small>
          <br />
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-4" value="Submit" />
        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %} {% endif %}
      </form>
    </div>
  </div>
</section>

{% endblock main-content %}
